%html
  %head
    %title Programming with Nothing but Symbols

    %script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    %script(src='js/generate.js')
    %script(src='js/highlight.js')
    %link(rel='stylesheet' href='css/solarized_dark.css')

  %body
    %h1 I
    %form(method='post' action='generate' onsubmit='generate(); return false')
      %input(type='text' id='msg' size='50')
    %h1 O
    %pre
      %code#output.language-ruby
    %pre
      %code#smoosh.language-ruby
